ul{
	list-style-type: none;
	width: 20%;
	background-color: pink;
	padding: 0;
	margin: 0;
	height: 100%;
	position: fixed;
}
li a{
	display: block;
	background-color: pink;
	padding: 12px;
	text-decoration: none;
}

li a:hover{
	background-color: purple;
	color: #EED3BE;
}

li a.activo{
	background-color: purple;
	color: #FDDBC1;
	font-family: 'Dancing Script';
}
li a:hover:not(.activo){
	background-color: red;
	color: #EED3BE;
}
.capa1{
	margin-left: 25%;
	padding: 12px;
}
@font-face{
	font-family: "Dancing Script";
	src: url("static/") format("truetype");
}
p{
	text-align: justify;
	font-family: 'Imbue';
}
h1{
	font-family: "fuente1", cursive;
	font-size: 24px;
}
h2{
	font-family: "Dancing Script", serif;
	font-size: 22px;
}